<section class="catalog">
  <div class="container">
    <h2 id="catalog" class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source media="(max-width: 374px)"
            srcset="./img/catalog/catalog-mob-1-min.png 1x, ./img/catalog/catalog-mob-1@2x-min.png 2x">
          <source media="(max-width: 767px)"
            srcset="./img/catalog/catalog-mob-1-min.png 1x, ./img/catalog/catalog-mob-1@2x-min.png 2x">
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-1-min.png 1x, ./img/catalog/catalog-tab-1@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-1-min.png 1x, ./img/catalog/catalog-desk-1@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-1-min.png" alt="Garmin Fenix 7X Pro Sapphire Solar" class="item-picture"
            width="292" height="292">
        </picture>
        <div class="item-info">
          <p class="item-name">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="item-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(max-width: 374px)"
            srcset="./img/catalog/catalog-mob-2-min.png 1x, ./img/catalog/catalog-mob-2@2x-min.png 2x">
          <source media="(max-width: 768px)"
            srcset="./img/catalog/catalog-mob-2-min.png 1x, ./img/catalog/catalog-mob-2@2x-min.png 2x">
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-2-min.png 1x, ./img/catalog/catalog-tab-2@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-2-min.png 1x, ./img/catalog/catalog-desk-2@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-2-min.png" alt="Garmin Marq Athlete" class="item-picture" width="292"
            height="292">
        </picture>
        <div class="item-info">
          <p class="item-name">Garmin Marq Athlete</p>
          <p class="item-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source media="(max-width: 374px)"
            srcset="./img/catalog/catalog-mob-3-min.png 1x, ./img/catalog/catalog-mob-3@2x-min.png 2x">
          <source media="(max-width: 767px)"
            srcset="./img/catalog/catalog-mob-3-min.png 1x, ./img/catalog/catalog-mob-3@2x-min.png 2x">
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-3-min.png 1x, ./img/catalog/catalog-tab-3@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-3-min.png 1x, ./img/catalog/catalog-desk-3@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-3-min.png" alt="Garmin Descent MK1" class="item-picture" width="292"
            height="292">
        </picture>
        <div class="item-info">
          <p class="item-name">Garmin Descent MK1</p>
          <p class="item-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">

        <picture>
          <source media="(max-width: 374px)"
            srcset="./img/catalog/catalog-mob-4-min.png 1x, ./img/catalog/catalog-mob-4@2x-min.png 2x">
          <source media="(max-width: 767px)"
            srcset="./img/catalog/catalog-mob-4-min.png 1x, ./img/catalog/catalog-mob-4@2x-min.png 2x">
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-4-min.png 1x, ./img/catalog/catalog-tab-4@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-4-min.png 1x, ./img/catalog/catalog-desk-4@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-4-min.png" alt="Garmin D2 Delta PX" class="item-picture" width="292"
            height="292">
        </picture>
        <div class="item-info">
          <p class="item-name">Garmin D2 Delta PX</p>
          <p class="item-price">€380</p>
        </div>
      </li>
      <li class="catalog-item catalog-hiden-items">
        <picture>
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-5-min.png 1x, ./img/catalog/catalog-tab-5@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-5-min.png 1x, ./img/catalog/catalog-desk-5@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-5-min.png" alt="Garmin Fenix 6 Pro Solar" class="item-picture"
            width="292" height="292">
        </picture>
        <div class="item-info">
          <p class="item-name">Garmin Fenix 6 Pro Solar</p>
          <p class="item-price">€400</p>
        </div>
      </li>
      <li class="catalog-item catalog-hiden-items">
        <picture>
          <source media="(max-width: 1279px)"
            srcset="./img/catalog/catalog-tab-6-min.png 1x, ./img/catalog/catalog-tab-6@2x-min.png 2x">
          <source media="(min-width: 1280px)"
            srcset="./img/catalog/catalog-desk-6-min.png 1x, ./img/catalog/catalog-desk-6@2x-min.png 2x">
          <img src="./img/catalog/catalog-desk-6-min.png" alt="Tube Watch S42 Date Steel With Black Case"
            class="item-picture" width="292" height="292">

        </picture>
        <div class="item-info">
          <p class="item-name">Tube Watch S42 Date Steel With Black Case</p>
          <p class="item-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="show-more-btn">Show more</button>
  </div>
</section>
